<?xml version="1.0" encoding="utf-8"?>
<Menu>
	<SelectionAnimation>
		<ID>0</ID>
		<BackgroundImage>./Content/2D/Menu/SelectedBackground.bmp</BackgroundImage>
		<NumberOfFrames>4</NumberOfFrames>
		<FrameTimer>0.25</FrameTimer>
		<Image>./Content/2D/Menu/SelectedAnimationFrame1.bmp</Image>
		<Image>./Content/2D/Menu/SelectedAnimationFrame2.bmp</Image>
		<Image>./Content/2D/Menu/SelectedAnimationFrame3.bmp</Image>
		<Image>./Content/2D/Menu/SelectedAnimationFrame4.bmp</Image>
	</SelectionAnimation>
	<MainMenu>
		<NumberOfButtons>4</NumberOfButtons>
		<NumberOfSubmenus>3</NumberOfSubmenus>
		<SelectionChangeSound>NONE</SelectionChangeSound>
		<MenuBGM>./Content/Audio/MenuMusic.wav</MenuBGM>
		<MenuBKG>./Content/2D/Menu/MainMenuBackground.bmp</MenuBKG>
		<UnselectedImageBackground>./Content/2D/Menu/InactiveBackground.bmp</UnselectedImageBackground>
		<SelectedImageBackground>./Content/2D/Menu/ActiveBackground.bmp</SelectedImageBackground>
		<MenuButton>	
			<ID>0</ID>
			<HasASubmenu>1</HasASubmenu>
			<SubmenuID>0</SubmenuID>
			<ActionCode>0</ActionCode>
			<CenterPointX>100</CenterPointX>
			<CenterPointY>550</CenterPointY>
			<SelectedImage>./Content/2D/Menu/SinglePlayerSelectedText.tga</SelectedImage>
			<UnselectedImage>./Content/2D/Menu/SinglePlayer.tga</UnselectedImage>
			<PlayAnimationWhenSelected>0</PlayAnimationWhenSelected>
			<AnimationID>-1</AnimationID>
		</MenuButton>
		<MenuButton>	
			<ID>1</ID>
			<HasASubmenu>1</HasASubmenu>
			<SubmenuID>1</SubmenuID>
			<ActionCode>0</ActionCode>
			<CenterPointX>300</CenterPointX>
			<CenterPointY>550</CenterPointY>
			<SelectedImage>./Content/2D/Menu/MultiplayerSelectedText.tga</SelectedImage>
			<UnselectedImage>./Content/2D/Menu/Multiplayer.tga</UnselectedImage>
			<PlayAnimationWhenSelected>0</PlayAnimationWhenSelected>
			<AnimationID>-1</AnimationID>
		</MenuButton>
		<MenuButton>	
			<ID>2</ID>
			<HasASubmenu>1</HasASubmenu>
			<SubmenuID>2</SubmenuID>
			<ActionCode>0</ActionCode>
			<CenterPointX>500</CenterPointX>
			<CenterPointY>550</CenterPointY>
			<SelectedImage>./Content/2D/Menu/OptionsSelectedText.tga</SelectedImage>
			<UnselectedImage>./Content/2D/Menu/Options.tga</UnselectedImage>
			<PlayAnimationWhenSelected>0</PlayAnimationWhenSelected>
			<AnimationID>-1</AnimationID>
		</MenuButton>
		<MenuButton>	
			<ID>3</ID>
			<HasASubmenu>0</HasASubmenu>
			<SubmenuID>-1</SubmenuID>
			<ActionCode>13</ActionCode>
			<CenterPointX>700</CenterPointX>
			<CenterPointY>550</CenterPointY>
			<SelectedImage>./Content/2D/Menu/ExitSelectedText.tga</SelectedImage>
			<UnselectedImage>./Content/2D/Menu/Exit.tga</UnselectedImage>
			<PlayAnimationWhenSelected>1</PlayAnimationWhenSelected>
			<AnimationID>0</AnimationID>
		</MenuButton>
		<Submenu>
			<ID>0</ID>
			<OpenedByButtonID>0</OpenedByButtonID>
			<OpenSpeed>0.25</OpenSpeed>
			<NumberOfButtons>2</NumberOfButtons>
			<MenuButtonIDs>
				<ID>2</ID>
				<ID>3</ID>
			</MenuButtonIDs>
			<SubmenuBackground>./Content/2D/Menu/ActiveBackground.bmp</SubmenuBackground>
		</Submenu>
		<Submenu>
			<ID>1</ID>
			<OpenedByButtonID>1</OpenedByButtonID>
			<OpenSpeed>0.25</OpenSpeed>
			<NumberOfButtons>2</NumberOfButtons>
			<MenuButtonIDs>
				<ID>2</ID>
				<ID>3</ID>
			</MenuButtonIDs>
		</Submenu>
		<Submenu>
			<ID>2</ID>
			<OpenedByButtonID>2</OpenedByButtonID>
			<OpenSpeed>0.25</OpenSpeed>
			<NumberOfButtons>3</NumberOfButtons>
			<MenuButtonIDs>
				<ID>1</ID>
				<ID>2</ID>
				<ID>3</ID>
			</MenuButtonIDs>
		</Submenu>
	</MainMenu>
</Menu>